* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* App */
.app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ChampList */
.champ_list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}



/* ChampCard */

.champ_card {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 90px;
    height: auto;
    background-color: gray;
    border-radius: 5px;
    color: aliceblue;
    box-shadow: 2px 2px 2px 2px black;
    margin: 3px;
    font-size: 5px;
    /* font-size: 10px; */
}

.champ_card div {
    padding: 2px;
}

.champ_img {
    width: 50px;
}

.stat_img{
    width: 10px;
    padding: 0px 1px;
    margin: 0px 2px;
}