@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'NEXON Lv1 Gothic OTF';

}



/* back_Img */
.back_Img {
  width: 100%;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 93.5%;
  opacity: 0.85;
}




/* ChampList */
.champ_list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}



/* ChampCard */

.champ_card {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 70px;
  height: auto;
  background-color: rgb(201, 197, 197);
  border-radius: 5px;
  color: black;
  box-shadow: 1px 1px 1px 1px rgb(163, 161, 161);
  margin: 3px;
  font-size: 12px;
  margin: 10px;
  opacity: 0.9;
  cursor: pointer;
}

.champ_card div {
  padding: 5px;
}

.champ_img {
  width: 50px;
  border-radius: 50%;
}

.champ_name {
  text-align: center;
  margin-top: -10px;
  max-height: 20px;
  overflow: hidden;
}

.stat_img {
  width: 10px;
  padding: 0px 1px;
  margin: 0px 2px;
}

/* Navi */


.navbar {
  background-color: #212121;
  z-index: 3;
}

nav {
  width: 100%;
  border-top: 3px solid rgb(66, 80, 145);
  border-bottom: 3px solid rgb(66, 80, 145);
  height: 90px;
  font-size: 20px;
  color: white !important;
  position: fixed !important;
}

#nav_div {
  cursor: pointer ;
}

.nav-item {
  text-align: center;
  margin: 0 20px;
  min-width: 200px;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: blueviolet !important;
  border-radius: .5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
}

.nav-item:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 0px 0px;
}

.navbar-brand {
  position: relative;
  padding: 10px 20px !important;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff !important;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-brand:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-brand:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.navbar-brand::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.navbar-brand:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

/* button */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #011522;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

/* ChampFeedback */


.champ_edit .champ_stats_spell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mini_spell {
  display: inline-block;
  margin: 0px 10px;
}

.mini_spell img {
  width: 50px;
  border-radius: 10px;
}

.champ_feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: row;
  width: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  opacity: 0.95;
}

.champ_edit {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  margin: 0;
  background-color: #011522;
  color: white;
}


.with_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  flex-direction: column;
  background-image: url(/src/img/pnz-lor-18.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 92%;
  z-index: -1;

}

.home_btn {
  height: 10vh;
  margin-top: 5vh;
  border-radius: 10px;
  border: 0.5px solid white;
  padding: 0px 30px;
  font-size: 20px;
  margin-bottom: 3vh;
}

.champ_edit .champ_stats_name {
  width: 100%;
  border-bottom: 1px solid black;
}


.champ_stats_name {
  flex: 0.8;
}

.champ_edit .champ_stats_position {
  width: 100%;
  border-bottom: 1px solid black;
}

.champ_stats_position {
  flex: 1.2;
}

.champ_stats_spell {
  flex: 1;
}

.champ_stats_item {
  flex: 1;
}


.champ_edit .champ_stats_feedback {
  flex: 5;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  word-break: break-all;
  overflow-y: auto;
}

/* .centerText{
  justify-content: center !important;
} */

.champ_loading_img {
  height: 600px;
}

.spell {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 5px;
}

.champ_edit .champ_stats_spell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: 100%;
}

/* SpellCard */

.spell_card {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 3;
  border-radius: 10px;
  background-color: rgb(53, 51, 51);
  opacity: 0.95;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.spell_card div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.spell {
  border-radius: 10%;
}

.select_spell {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.615);
}

/* Item Card Img */

.item_card_img {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 3;
  opacity: 0.9;
  background-color: #011522;
  border-radius: 10px;

}

.item_card_img div {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
}

.item_card_list {
  margin: 10px 0;
}

.item_img {
  margin: 3px;
  border-radius: 10%;
}

.item_setting {
  display: flex !important;
  flex-direction: column;

}

.select_item {
  box-shadow: 0 0 20px 10px rgb(255, 0, 0);
}

/*Block Display  */

.block_display {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 943px;
  left: 0%;
  top: 9%;
  cursor: default
}

/* Mini Item */

.mini_item img {
  width: 50px;
  margin: 0 10px;
  border-radius: 10px;
}

.champ_edit .champ_stats_item {
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid black;
}


/* Feedback etc */
.fake_placeholder {
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.justifyCenter {
  justify-content: center !important;
}

.feedback_text {
  width: 100%;
}

.addFlex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback_textarea {
  font-size: 25px;
  width: 90%;
  min-height: 280px;
  padding: 10px;
  z-index: 3;
  position: sticky;
  resize: none;
}

.champFeedText {
  text-align: left;
  color: white;
  padding: 10px;
}

.fake_placeholder .champFeedText {
  display: inline-block;
  text-align: left;
}

.reset_btn {
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid white;
}

.feedback_text .champFeedText {
  cursor: pointer;
}

/* MyFeedback */

.myfeedback_back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}

.empty_feedback {
  position: absolute;
  top: 50%;
}

.back_img {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-image: url('./img/runeterra-bilgewater-01.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 91%;
  background-attachment: fixed;
  z-index: -2;
}

.myfeedback {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 70%;
}

.myfeedback_card img {
  width: 150px;
  cursor: pointer;
}

.myfeedback_card {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.myfeedback_card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;

  background-color: black;
  width: 150px;
}

.myfeedback_card_btn {
  font-size: 10px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;

}

.myfeedback_card_btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(0px);
}

.myfeedback_card_btn:active {
  transform: translateY(0px);
}


.myfeedback_card_name {
  color: white;
  background-color: black;
  width: 150px;
}

.myfeedback_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  font-size: 30px;
}

#card_img {
  height: 20px;
  width: 20px;
}

/* confirm_message */

.confirm_message {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  flex-direction: column;
  top: 40%;
  left: 41.5%;
  height: 14vh;
  width: 20vw;
  border-radius: 7px;
  z-index: 5;
}

.confirm_message_box {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm_boolean_box {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm_boolean_box div {
  width: 100%;
}

.confirm_boolean_box button {
  width: 100%;
}

.confirm_boolean_box:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(0px);
}

.confirm_boolean_box:active {
  transform: translateY(0px);
}

/* board */

.board {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board_card {

  margin-bottom: 100px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board_card div {
  min-height: 5vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.board_card_id {
  text-align: left;
}

#board_card_set {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 65%;
  background-color: #011522;
  color: white;
  padding-left: 30px;
}

#board_card_etc {
  margin-left: auto;
  padding-right: 30px;

}

.share_card {
  width: 65%;
}

.share_card_img {
  height: 45vh;
  width: 100%;
}

.share_card_set {
  height: 45vh;
  width: 100%;
  font-size: 15px;
  flex-direction: column;
  background-color: #011522;
  color: white;
}

.share_card_set div {
  border-bottom: 1px solid black;
  width: 100%;
}

#board_card_btn {
  border: 1px solid white;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
}

#board_card_btn_back {
  border: 1px solid white;
  background-color: #23c483;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
}

#board_card_btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-5x);
}

#board_card_btn:active {
  transform: translateY(-1px);
}

.empty_share {
  color: white;
  position: absolute;
  top: 50%;
  font-size: 30px;
  text-align: center;
}

.share_card__spell img {
  width: 40px;
  margin: 3px;
  border-radius: 5px;
}

.share_card__item img {
  width: 30px;
  margin: 3px;
  border-radius: 5px;
}

#board_back {
  background-image: url('../src/img/runeterra-void-06.jpg');
}

.share_card__position {
  flex-direction: column;
}

#share_position {
  border-bottom: none;
}


#share_card_text {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  word-break: break-all;
  overflow-y: auto;
}

#share_card_text span {
  padding: 10px;
}

#push_input {
  width: 350px;
}